<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
   </head>
   <body style="height: 100%; margin: 0">
       <div id="container" style="height: 100%"></div>
       <script type="text/javascript" src="/static/js/jquery.js"></script>
       <script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
       <script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
       <script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
       <script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
       <script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/simplex.js"></script>
       <script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = null;

setTimeout(function () {

    option = {
        legend: {},
        tooltip: {
            trigger: 'axis',
            showContent: false
        },
        dataset: {
            source: [
                ['product', '不限', '中专及以下', '大专', '本科', '硕士', '博士'],
                ['0-20', 0.141,0.036,0.316,0.478,0.018,0.011],
				['20-50', 0.166,0.062,0.40,0.35,0.02,0.002],
                ['50-150', 0.1879,0.0722,0.4014,0.3225,0.0152,0.0008],
                ['150-500', 0.1704,0.0645,0.3518,0.3933,0.019,0.001],
                ['500-1000', 0.1691,0.0665,0.3095,0.4334,0.0201,0.0014],
                ['1000-5000', 0.1643,0.057,0.2866,0.468,0.0228,0.0013],
                ['5000-10000', 0.1764,0.064,0.2739,0.473,0.0112,0.0015],
                ['10000-max', 0.1146,0.0485,0.2131,0.589,0.0324,0.0024]
                
            ]
        },
        xAxis: {type: 'category'},
        yAxis: {gridIndex: 0},
        grid: {top: '55%'},
        series: [
            {type: 'line', smooth: true, seriesLayoutBy: 'row'},
			{type: 'line', smooth: true, seriesLayoutBy: 'row'},
			{type: 'line', smooth: true, seriesLayoutBy: 'row'},
			{type: 'line', smooth: true, seriesLayoutBy: 'row'},
			{type: 'line', smooth: true, seriesLayoutBy: 'row'},
			{type: 'line', smooth: true, seriesLayoutBy: 'row'},
			{type: 'line', smooth: true, seriesLayoutBy: 'row'},
			{type: 'line', smooth: true, seriesLayoutBy: 'row'},
            {
                type: 'pie',
                id: 'pie',
                radius: '30%',
                center: ['50%', '25%'],
                label: {
                    formatter: '{b}: {@2012} ({d}%)'
                },
                encode: {
                    itemName: 'product',
                    value: '2012',
                    tooltip: '2012'
                }
            }
        ]
    };

    myChart.on('updateAxisPointer', function (event) {
        var xAxisInfo = event.axesInfo[0];
        if (xAxisInfo) {
            var dimension = xAxisInfo.value + 1;
            myChart.setOption({
                series: {
                    id: 'pie',
                    label: {
                        formatter: '{b}: {@[' + dimension + ']} ({d}%)'
                    },
                    encode: {
                        value: dimension,
                        tooltip: dimension
                    }
                }
            });
        }
    });

    myChart.setOption(option);

});;
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
       </script>
   </body>
</html>