<footer id="footer" class="topmargin noborder" style="background-color: #F5F5F5;">

			<div class="container clearfix">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_one_fourth">
						<div class="widget clearfix">
							<div class="t400 nobottommargin" style="font-size: 36px; letter-spacing: -1px">Atoz</div>
							<p class="text-muted t300">@2019</p>

							<div class="app-links">
								<p>客户端</p>
								<a href="#" class="link"><i class="icon-android2"></i> <span>Android 下载</span></a><br>
								<a href="#" class="link"><i class="icon-apple"></i> <span>IOS 下载</span></a><br>

							</div>
						</div>
					</div>

					<div class="col_one_fourth">
						<div class="widget widget_links clearfix">
							<h4>博客</h4>
							<ul>
								<li><a href="#">文档</a></li>
								<li><a href="#">微博</a></li>
								<li><a href="#">百里半</a></li>
								<li><a href="#">支持条款</a></li>
								<li><a href="#">厚溥教育</a></li>
							</ul>
						</div>
					</div>

					<div class="col_one_fourth">
						<div class="widget widget_links clearfix">
							<h4>友情链接</h4>
							<ul>
								<li><a href="#">关于我们</a></li>
								<li><a href="#">FAQs</a></li>
								<li><a href="#">营业执照</a></li>
								<li><a href="#">论坛</a></li>
								<li><a href="#">条款</a></li>
							</ul>
						</div>
					</div>

					<div class="col_one_fourth col_last">
						<div class="widget widget-twitter-feed clearfix">
							<h4>百里半</h4>
							<ul class="iconlist twitter-feed nobottommargin" data-username="envato" data-count="2">
								<li></li>
							</ul>
						</div>
					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<div class="line nomargin"></div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="" style="background-color: #FFF">

				<div class="container clearfix">

					<div class="col_full center nomargin">
						<span>版权所有 &copy; 2019 ATOZ 保留所有权利.</span>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer>