<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="head">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="author" content="SemiColonWeb"/>

    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Playfair+Display:700,700i,900"
          rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{../statics/css/bootstrap.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{../statics/style.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{../statics/css/dark.css}" type="text/css"/>

    <!-- Home Demo Specific Stylesheet -->
    <link rel="stylesheet" th:href="@{../statics/demos/interior-design/interior-design.css}"
          type="text/css"/>

    <link rel="stylesheet" th:href="@{../statics/css/font-icons.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{../statics/css/animate.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{../statics/css/magnific-popup.css}" type="text/css"/>

    <!-- Reader's Blog Demo Specific Fonts -->
    <link rel="stylesheet" th:href="@{../statics/demos/interior-design/css/fonts.css}"
          type="text/css"/>

    <link rel="stylesheet" th:href="@{../statics/css/responsive.css}" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../statics/css/colors.php?color=1c85e8" type="text/css"/>

</div>
</body>
</html>