<!-- External JavaScripts
============================================= -->
<script src="../statics/js/jquery.js"></script>
<script src="../statics/js/jquery.min.js"></script>
<script src="../statics/js/plugins.js"></script>
<script src="../statics/js/functions.js"></script>

<!-- Footer Scripts
============================================= -->


<script>
//    function reinitIframe() {
//        var iframe = document.getElementById("urlIframe");
//        try {
//            var bHeight = iframe.contentWindow.document.body.scrollHeight;
//            var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
//            var height = Math.max(bHeight, dHeight);
//            iframe.height = height;
//            iframe.height = bHeight;
//        } catch (ex) {
//        }
//    }

</script>
