<!DOCTYPE html>
<html dir="ltr" lang="en-US" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

	<div th:replace="_head :: head"></div>
    <meta charset="utf-8">

	<!-- Document Title
	============================================= -->
	<title>趋势</title>

</head>

<body class="stretched side-push-panel">

	<div id="side-panel">

		<div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>

		<div class="side-panel-wrap">

			<div class="widget clearfix">

				<h4 class="t400">Login with Social</h4>

				<a href="#" class="button button-rounded t400 btn-block center si-colored noleftmargin si-facebook">Facebook</a>
				<a href="#" class="button button-rounded t400 btn-block center si-colored noleftmargin si-gplus">Google</a>

				<div class="line line-sm"></div>

				<form id="login-form" name="login-form" class="nobottommargin" action="#" method="post">

					<div class="col_full">
						<label for="login-form-username" class="t400">Username:</label>
						<input type="text" id="login-form-username" name="login-form-username" value="" class="form-control" />
					</div>

					<div class="col_full">
						<label for="login-form-password" class="t400">Password:</label>
						<input type="password" id="login-form-password" name="login-form-password" value="" class="form-control" />
					</div>

					<div class="col_full nobottommargin">
						<button class="button button-rounded t400 nomargin" id="login-form-submit" name="login-form-submit" value="login">Login</button>
						<a href="#" class="text-muted fright">Forgot Password?</a>
					</div>

				</form>


			</div>

		</div>

	</div>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<div th:replace="_header"></div>

		<!-- Page Title
		============================================= -->
		<section id="page-title" class="nobg border-top page-title-center">

			<div class="container clearfix">
				<h1 class="font-secondary nott mb-4" style="font-size: 54px;">趋势</h1>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">形势</a></li>
					<li class="breadcrumb-item active" aria-current="page">分析</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap pt-0 clearfix">

				<div class="section mt-0 mt-0">
					<div class="container">
						<div class="row justify-content-between">
							<div class="col-md-5">
								<div class="heading-block nobottomborder mb-4 mb-md-0">
									<h2 class="ls2 t700">数据驱动业务</h2>
									<span class="font-secondary t400">我们所有的分析结果均基于大量数据，客观、真实，并且可视化展现，为您提供精准的就业风向标</span>
								</div>
							</div>
							<div class="col-md-6">
								<p class="lead mb-0">以下我们主要展示热门城市行业类别，公司规模，岗位福利，岗位要求等具体指标的横向对比，让您更加直观的了解行业动态</p>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
                    <div class="divcenter" style="max-width: 1500px">
					    <div class="heading-block center nobottomborder">
						    <h2 class="ls2 t700">热门省市行业种类分布表</h2>
                            <span>我们挑选了一些热门城市地区<br>为您详尽的展示各个城市内的行业种类组成情况</span>
					    </div>
                    </div>
					<div class="divcenter" style="max-width: 1100px">
						<div class="tabs tabs-alt tabs-responsive tabs-justify clearfix" id="tab">

							<ul class="tab-nav clearfix">
                                <li><a href="#tabs-0" onclick="document.getElementById('tabs-0').contentWindow.location.reload(true)"><i class="icon-line2-social-dropbox"></i>五大热门城市</a></li>
								<li><a href="#tabs-1" onclick="document.getElementById('tabs-1').contentWindow.location.reload(true)"><i class="icon-line2-pointer"></i>上海市</a></li>
								<li><a href="#tabs-2" onclick="document.getElementById('tabs-2').contentWindow.location.reload(true)"><i class="icon-line2-pointer"></i>北京市</a></li>
                                <li><a href="#tabs-3" onclick="document.getElementById('tabs-3').contentWindow.location.reload(true)"><i class="icon-line2-pointer"></i>天津市</a></li>
                                <li><a href="#tabs-4" onclick="document.getElementById('tabs-4').contentWindow.location.reload(true)"><i class="icon-line2-pointer"></i>广东省</a></li>
                                <li><a href="#tabs-5" onclick="document.getElementById('tabs-5').contentWindow.location.reload(true)"><i class="icon-line2-pointer"></i>湖北省</a></li>
							</ul>

							<div class="tab-container">
                                <iframe width="100%" height="700px" id="tabs-0" frameborder="0" scrolling="no" src="a0"></iframe>
                                <iframe width="100%" height="700px" id="tabs-1" frameborder="0" scrolling="no" src="a1"></iframe>
                                <iframe width="100%" height="700px" id="tabs-2" frameborder="0" scrolling="no" src="a2"></iframe>
                                <iframe width="100%" height="700px" id="tabs-3" frameborder="0" scrolling="no" src="a3"></iframe>
                                <iframe width="100%" height="700px" id="tabs-4" frameborder="0" scrolling="no" src="a4"></iframe>
                                <iframe width="100%" height="700px" id="tabs-5" frameborder="0" scrolling="no" src="a5"></iframe>
							</div>

						</div>
					</div>
				</div>

                <div class="container">
                    <div class="divcenter" style="max-width: 1500px">
					    <div class="heading-block center nobottomborder">
						    <h2 class="ls2 t700">岗位要求解析</h2>
                            <span>我们根据不同的公司规模<br>为您详尽的展示公司不同岗位要求（学历，工作经验）的占比</span>
					    </div>
                    </div>
					<div class="divcenter" style="max-width: 1100px">
						<div class="tabs tabs-alt tabs-responsive tabs-justify clearfix" id="tab">

							<ul class="tab-nav clearfix">
                                <li><a href="#tabs-0-2" onclick="document.getElementById('tabs-0-2').contentWindow.location.reload(true)"><i class="icon-line2-social-dropbox"></i>学历</a></li>
								<li><a href="#tabs-1-2" onclick="document.getElementById('tabs-1-2').contentWindow.location.reload(true)"><i class="icon-line2-pointer"></i>经验</a></li>
								<li><a href="#tabs-2-2" onclick="document.getElementById('tabs-2-2').contentWindow.location.reload(true)"><i class="icon-line2-pointer"></i>薪资</a></li>
							</ul>

							<div class="tab-container">
                                <iframe width="100%" height="700px" id="tabs-0-2" frameborder="0" scrolling="no" src="a13"></iframe>
                                <iframe width="100%" height="700px" id="tabs-1-2" frameborder="0" scrolling="no" src="a14"></iframe>
                                <iframe width="100%" height="700px" id="tabs-2-2" frameborder="0" scrolling="no" src="a15"></iframe>
							</div>
						</div>
					</div>
				</div>

                <div class="container">
                    <div class="divcenter" style="max-width: 1500px">
					    <div class="heading-block center nobottomborder">
						    <h2 class="ls2 t700">薪酬解析</h2>
                            <span>我们挑选了一些热门城市地区<br>为您详尽的展示各个城市不同岗位要求的平均薪酬</span>
					    </div>
                    </div>
					<div class="divcenter" style="max-width: 1100px">
						<div class="tabs tabs-alt tabs-responsive tabs-justify clearfix" id="tab">

							<ul class="tab-nav clearfix">
                                <li><a href="#tabs-0-3" onclick="document.getElementById('tabs-0-3').contentWindow.location.reload(true)"><i class="icon-line2-pointer"></i>上海</a></li>
								<li><a href="#tabs-1-3" onclick="document.getElementById('tabs-1-3').contentWindow.location.reload(true)"><i class="icon-line2-pointer"></i>北京</a></li>
								<li><a href="#tabs-2-3" onclick="document.getElementById('tabs-2-3').contentWindow.location.reload(true)"><i class="icon-line2-pointer"></i>广州</a></li>
                                <li><a href="#tabs-3-3" onclick="document.getElementById('tabs-3-3').contentWindow.location.reload(true)"><i class="icon-line2-pointer"></i>深圳</a></li>
                                <li><a href="#tabs-4-3" onclick="document.getElementById('tabs-4-3').contentWindow.location.reload(true)"><i class="icon-line2-pointer"></i>杭州</a></li>
                                <li><a href="#tabs-5-3" onclick="document.getElementById('tabs-5-3').contentWindow.location.reload(true)"><i class="icon-line2-pointer"></i>武汉</a></li>
							</ul>

							<div class="tab-container">
                                <iframe width="100%" height="700px" id="tabs-0-3" frameborder="0" scrolling="no" src="a7"></iframe>
                                <iframe width="100%" height="700px" id="tabs-1-3" frameborder="0" scrolling="no" src="a8"></iframe>
                                <iframe width="100%" height="700px" id="tabs-2-3" frameborder="0" scrolling="no" src="a9"></iframe>
                                <iframe width="100%" height="700px" id="tabs-3-3" frameborder="0" scrolling="no" src="a10"></iframe>
                                <iframe width="100%" height="700px" id="tabs-4-3" frameborder="0" scrolling="no" src="a11"></iframe>
                                <iframe width="100%" height="700px" id="tabs-5-3" frameborder="0" scrolling="no" src="a12"></iframe>
							</div>

						</div>
					</div>
				</div>

                <div class="container">
                    <div class="divcenter" style="max-width: 1500px">
					    <div class="heading-block center nobottomborder">
						    <h2 class="ls2 t700">大数据行业解析</h2>
                            <span>我们针对大数据行业进行类专业大分析<br>为您详尽的展示大数据行业的就业趋势</span>
					    </div>
                    </div>
					<div class="divcenter" style="max-width: 1100px">
						<div class="tabs tabs-alt tabs-responsive tabs-justify clearfix" id="tab">

							<ul class="tab-nav clearfix">
                                <li><a href="#tabs-0-4" onclick="document.getElementById('tabs-0-4').contentWindow.location.reload(true)"><i class="icon-line2-pointer"></i>大数据岗位要求分析</a></li>
								<li><a href="#tabs-1-4" onclick="document.getElementById('tabs-1-4').contentWindow.location.reload(true)"><i class="icon-line2-pointer"></i>大数据薪资范围分析</a></li>
								<li><a href="#tabs-2-4" onclick="document.getElementById('tabs-2-4').contentWindow.location.reload(true)"><i class="icon-line2-pointer"></i>各地平均薪资比较</a></li>
								<li><a href="#tabs-3-4" onclick="document.getElementById('tabs-3-4').contentWindow.location.reload(true)"><i class="icon-line2-pointer"></i>热门城市大数据分析</a></li>
								<li><a href="#tabs-4-4" onclick="document.getElementById('tabs-4-4').contentWindow.location.reload(true)"><i class="icon-line2-pointer"></i>具体类别职位分布</a></li>
							</ul>

							<div class="tab-container">
                                <iframe width="100%" height="700px" id="tabs-0-4" frameborder="0" scrolling="no" src="a16"></iframe>
                                <iframe width="100%" height="700px" id="tabs-1-4" frameborder="0" scrolling="no" src="a17"></iframe>
                                <iframe width="100%" height="700px" id="tabs-2-4" frameborder="0" scrolling="no" src="a18"></iframe>
                                <iframe width="100%" height="700px" id="tabs-3-4" frameborder="0" scrolling="no" src="a19"></iframe>
                                <iframe width="100%" height="700px" id="tabs-4-4" frameborder="0" scrolling="no" src="a20"></iframe>
							</div>

						</div>
					</div>
				</div>

			</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<div th:replace="_footer"></div>

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>


	<div th:replace="_JavaScripts"></div>

</body>
</html>