<!DOCTYPE html>
<html dir="ltr" lang="en-US" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

	<div th:replace="_head :: head"></div>
    <meta charset="utf-8">

	<title>FAQs</title>

</head>

<body class="stretched side-push-panel">

	<div id="side-panel">

		<div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>

		<div class="side-panel-wrap">

			<div class="widget clearfix">

				<h4 class="t400">Login with Social</h4>

				<a href="#" class="button button-rounded t400 btn-block center si-colored noleftmargin si-facebook">Facebook</a>
				<a href="#" class="button button-rounded t400 btn-block center si-colored noleftmargin si-gplus">Google</a>

				<div class="line line-sm"></div>

				<form id="login-form" name="login-form" class="nobottommargin" action="#" method="post">

					<div class="col_full">
						<label for="login-form-username" class="t400">Username:</label>
						<input type="text" id="login-form-username" name="login-form-username" value="" class="form-control" />
					</div>

					<div class="col_full">
						<label for="login-form-password" class="t400">Password:</label>
						<input type="password" id="login-form-password" name="login-form-password" value="" class="form-control" />
					</div>

					<div class="col_full nobottommargin">
						<button class="button button-rounded t400 nomargin" id="login-form-submit" name="login-form-submit" value="login">Login</button>
						<a href="#" class="text-muted fright">Forgot Password?</a>
					</div>

				</form>


			</div>

		</div>

	</div>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<div th:replace="_header"></div>

		<!-- Page Title
		============================================= -->
		<section id="page-title" class="nobg border-top center">

			<div class="container clearfix">
				<h1 class="font-secondary nott mb-3" style="font-size: 54px;">言职</h1>
				<span>更真实的公司点评社区</span>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap clearfix">

				<div class="container">

					<div class="row clearfix">

						<div class="col-md-8">
							<div class="toggle toggle-bg" data-animate="fadeIn">
								<div class="togglet rounded-top t400"><strong class="mr-1">热议丨</strong>你吃过公司画的哪些大饼？<i class="toggle-icon icon-line-circle-plus"></i></div>
								<div class="togglec rounded-bottom">第一家公司要离职的时候老板为了留住我说两年之内保证你能有8k的薪资(当时工资2k8)，你现在年轻需要磨练，但我还是离职了，然而两年过去后我现在已经12k了</div>
							</div>

							<div class="toggle toggle-bg" data-animate="fadeIn" data-delay="200">
								<div class="togglet t400 rounded-top"><strong class="mr-1">热议丨</strong>“你为什么离开上家公司？”<i class="toggle-icon icon-line-circle-plus"></i></div>
								<div class="togglec rounded-bottom">画的饼太大就着鸡汤也咽不下</div>
							</div>

							<div class="toggle toggle-bg" data-animate="fadeIn" data-delay="400">
								<div class="togglet t400 rounded-top"><strong class="mr-1">热议丨</strong>如果有关系好的同事向你打探薪资，你该怎么回？<i class="toggle-icon icon-line-circle-plus"></i></div>
								<div class="togglec rounded-bottom">看看你转正没有，如果还没转正，就不要谈这方面的话题，直接说公司不允许谈论薪资。如果转正了，考虑你们俩的关系自己他的口风严不严，如果都没问题，那就应该实话实说。转正之前不说是为了顺利转正，转正之后说是为了了解你在公司领导心目中的地位以及本公司内的行情。另外记住只能和一个人说，这样一旦走漏风声你也知道是谁出卖了你。
另外，我们应该关注行业内其他公司的薪酬，特别是最高薪酬，这样你就知道跳槽时怎么要价了，自己公司的薪酬少打听，没有意义。</div>
							</div>

							<div class="toggle toggle-bg" data-animate="fadeIn" data-delay="600">
								<div class="togglet t400 rounded-top"><strong class="mr-1">马云：</strong>如果你年轻的时候不996，什么时候可以996？<i class="toggle-icon icon-line-circle-plus"></i></div>
								<div class="togglec rounded-bottom">什么时候我都不想996，除非上班很清闲，你又足额支付加班费，这两样缺一不可。如果工作负荷比较满，8小时满负荷运作，我还是想多活几年。



我们先算一下996的工资应该比955高多少吧。每天多上4小时，我们算3小时吧，应该150%加班，3×1.5=4.5，相当于一天上班12.5个小时，周六上班，应该200%加班，相当于一周上班7天，这样一周相当于上班12.5*7=87.5个小时，根据国务院关于职工工作时间的规定，每周40个小时。所以996工作制的工资应该是955工作制工资的87.5/40=2.1875倍。

然后我们就可以自己去比较了，如果955的人月薪1万的话，996的人月薪应该是2万1875元，如果955的人月薪3万的话，996的人月薪应该是6万5625，如果955的人月薪3000的话，996的人月薪应该是6562.5元。

</div>
							</div>

							<div class="toggle toggle-bg" data-animate="fadeIn" data-delay="800">
								<div class="togglet t400 rounded-top"><strong class="mr-1">热议丨</strong>那些同事打死都不会跟你说的『职场套路』有哪些？<i class="toggle-icon icon-line-circle-plus"></i></div>
								<div class="togglec rounded-bottom">1、发任何工作文件，一定邮件！邮件！邮件！否则等背锅

2、不要打听同事工资

3、公司有亲戚朋友，装不认识，不然等被人戳你

4、不要交底，不要交底</div>
							</div>


						</div>

						<div class="col-md-4">
							<a href="../statics/demos/interior-design/images/single/2.jpg" data-lightbox="image"><img src="../statics/demos/interior-design/images/single/thumbs/a1.jpg" alt=""></a>
							<div class="clear"></div>
							<a href="../statics/demos/interior-design/images/single/6.jpg" data-lightbox="image"><img class="mt-5" src="../statics/demos/interior-design/images/single/thumbs/a2.jpg" alt=""></a>
						</div>

					</div>

				</div>

			</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<div th:replace="_footer"></div>
		<!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<div th:replace="_JavaScripts"></div>

</body>
</html>