<!DOCTYPE HTML>
<html xmlns:th="http://www.springframework.org/schema/jdbc">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Learn &mdash; Free Website Template, Free HTML5 Template by freehtml5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Animate.css -->
	<link rel="stylesheet" href="../css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="../css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="../css/owl.carousel.min.css">
	<link rel="stylesheet" href="../css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="../css/style.css">
	<!--<link rel="stylesheet" href="css/header.css">-->
	<!--<script type="text/javascript" src="/static/js/jquery.js"></script>-->
	<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
	<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
	<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
	<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
	<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
	<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
	<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
	<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/simplex.js"></script>
	<!-- Modernizr JS -->
	<script src="../js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="../static/js/respond.min.js"></script>
	<![endif]-->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
	<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
	<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
	<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
	<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
	<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
	<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
	<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/simplex.js"></script>
	<script type="text/javascript" src="../js/container.js"></script>
</head>
<body>

<div class="fh5co-loader"></div>

<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						<p class="num">Call: +01 123 456 7890</p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
<!--背景-->
	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(../images/bg.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>了解心血管疾病 关爱身体健康</h1>
							<p><a class="btn btn-primary btn-lg btn-learn" href="/test">点击测试</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!--	统计数字-->
	<div id="fh5co-counter" class="fh5co-counters">
		<div class="container">
			<div class="row">
				<div class="col-md-3 text-center animate-box">
					<span class="fh5co-counter js-counter" data-from="0" data-to="69749" data-speed="2000" data-refresh-interval="50"></span>
					<span class="fh5co-counter-label">统计总人数</span>
				</div>
				<div class="col-md-3 text-center animate-box">
					<span class="fh5co-counter js-counter" data-from="0" data-to="34865" data-speed="2000" data-refresh-interval="50"></span>
					<span class="fh5co-counter-label">患病人数</span>
				</div>
				<div class="col-md-3 text-center animate-box">
					<span class="fh5co-counter js-counter" data-from="0" data-to="34884" data-speed="2000" data-refresh-interval="50"></span>
					<span class="fh5co-counter-label">未患病人数</span>
				</div>
				<div class="col-md-3 text-center animate-box">
					<span class="fh5co-counter js-counter" data-from="0" data-to="11" data-speed="2000" data-refresh-interval="50"></span>
					<span class="fh5co-counter-label">提取特征</span>
				</div>
			</div>
		</div>
	</div>

<!--	-->
	<div id="fh5co-explore" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Age factor</h2>
				</div>
			</div>
		</div>
		<div class="fh5co-explore fh5co-explore1">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-push-5 animate-box">
						<!--<img class="img-responsive" src="images/work_1.png" alt="work">-->
						<div id="age" style="width: 700px;height: 530px;"></div>
					</div>
					<div class="col-md-4 col-md-pull-8 animate-box" style="width: 300px;">
						<div class="mt">
							<h3>年龄影响大吗？</h3>
<!--							<p>年龄是！</p>-->
							<ul class="list-nav">
								<li><i class="icon-check2"></i>患病人数多！</li>
								<li><i class="icon-check2"></i>患病比例高！</li>
								<li><i class="icon-check2"></i>我们的建议，老年人定期体检！</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="fh5co-explore">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-pull-1 animate-box">
						<!--<img class="img-responsive" src="images/work_1.png" alt="work">-->
						<div id="table2" style="width: 720px;height: 490px;"></div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="mt">
							<div>
								<h4><i class="icon-user"></i>什么是BMI?</h4>
								<p>BMI是身体质量指数，计算公式为：体重/身高的平方。正常范围是18.5~24，高于此范围，则偏胖；反之则偏瘦。</p>
							</div>
							<div>
								<h4><i class="icon-video2"></i>性别对心血管疾病有影响吗？</h4>
								<p>左边箱线图可以看出，女性的患病人数略多，但患病比例都差不多，所以影响并不大。</p>
							</div>
							<div>
								<h4><i class="icon-shield"></i>那么BMI值对心血管疾病有影响吗？</h4>
								<p>有！！影响很大，所以为了您的身体健康请注意饮食习惯。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-project">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>医疗指标的变化</h2>
					<p>我们提取的医疗指标共三种：血糖、胆固醇、血压，下面这些是患有心血管疾病后，这些医疗指标的变化。</p>
				</div>
			</div>
		</div>
		<div class="container-fluid proj-bottom">
			<div class="row" style="height: 460px;">
				<div id="" class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn" style="height: 300px; width: 500px;margin-left: 120px">
					<div id="container_1" style="height: 100%">

					</div>
					<p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;血糖水平</p>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn" style="height: 300px; width: 500px;margin-left: 120px">
					<div id="container_2" style="height: 100%">




					</div>
					<p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;胆固醇水平</p>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn" style="height: 300px; width: 500px;margin-left: 430px">
					<div id="container_3" style="height: 100%">




					</div>
					<p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;血压水平</p>
				</div>
			</div>
		</div>
		<!--<div class="container">
			<div class="row">
				<div class="features">
					<div class="col-md-4 animate-box">
						<h4>We have coolest features of this course</h4>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  </p>
					</div>
					<div class="col-md-4 animate-box">
						<h4>Great teachers that we have</h4>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  </p>
					</div>
					<div class="col-md-4 animate-box">
						<h4>Steps by steps turorial session</h4>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  </p>
					</div>
				</div>
			</div>
		</div>-->
	</div>
	<div class="copyrights">Collect from <a href="http://www.moobnn.com/"  title="网站模板">网站模板</a></div>



	<div id="fh5co-testimonial" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>心血管疾病影响因素比例折线图</h2>
				</div>
			</div>
			<div id="div1" style="width: 100%;height: 500px;" >
			</div>
		</div>
		<div class="col-md-12 text-center animate-box">
			<p><a class="btn btn-primary btn-lg btn-learn" href="/test">点击此处，测一测</a></p>
		</div>
	</div>
</div>

<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
<script src="js/firstEcharts.js"></script>
<script src="js/secondEcharts.js"></script>
<script src="js/threeEcharts.js"></script>
<script src="js/fourEcharts.js"></script>
<script src="js/fiveEcharts.js"></script>
<script src="js/sixEcharts.js"></script>
<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->
<script src="js/jquery.stellar.min.js"></script>
<!-- Carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
<!-- Main -->
<script src="js/main.js"></script>
<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/simplex.js"></script>


<!--age-->
<script type="text/javascript" th:inline="javascript">
	$(document).ready(function() {
		$.get("/age",function(data,status) {
			var dom = document.getElementById("age");
			var myChart = echarts.init(dom);
			var colors = ['#5793f3', '#d14a61', '#675bba'];
			var option = null;
			option = {
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'cross',
						crossStyle: {
							color: '#999'
						}
					}
				},
				toolbox: {
					feature: {
						dataView: {show: true, readOnly: false},
						magicType: {show: true, type: ['line', 'bar']},
						restore: {show: true},
						saveAsImage: {show: true}
					}
				},
				legend: {
					data: ['总人数', '患病人数', '患病比例']
				},
				xAxis: [
					{
						type: 'category',
						data: [data[0].age , data[1].age, data[2].age, data[3].age, data[4].age, data[5].age],
						axisPointer: {
							type: 'shadow'
						}
					}
				],
				yAxis: [
					{
						type: 'value',
						name: '人数',
						min: 0,
						max: 20000,
						interval: 2000,
						axisLabel: {
							formatter: '{value}'
						}
					},
					{
						type: 'value',
						name: '患病比例',
						min: 0,
						max: 100,
						interval: 10,
						axisLabel: {
							formatter: '{value}%'
						}
					}
				],
				series: [
					{
						name: '总人数',
						type: 'bar',
						data: [data[0].all , data[1].all, data[2].all, data[3].all, data[4].all, data[5].all]
					},
					{
						name: '患病人数',
						type: 'bar',
						data: [data[0].cardiopeople , data[1].cardiopeople, data[2].cardiopeople, data[3].cardiopeople, data[4].cardiopeople, data[5].cardiopeople]
					},
					{
						name: '患病比例',
						type: 'line',
						yAxisIndex: 1,
						data: [data[0].ratio , data[1].ratio, data[2].ratio, data[3].ratio, data[4].ratio, data[5].ratio]
					}
				]
			};

			myChart.setOption(option, true);

		})
	})
</script>


<!--BMI、gender-->
<script type="text/javascript">
	$(document).ready(function(){
		$.post("/cardio/all", function(res, status) {
			var dom = document.getElementById("table2");
			var myChart = echarts.init(dom);
			var app = {};
			option = null;

			var data = [];
			//两组数据
			for (var seriesIndex = 0; seriesIndex < 2; seriesIndex++) {
				var seriesData = [];
				//两个变量
				for (var i = 0; i < 2; i++) {
					var cate = [];
					for (var j = 0; j < res.length; j++) {
						if ( seriesIndex == 0 ){
							if ( i == 0 ){
								if ( res[j].gender == 1 && res[j].cardio == 0 ) {
									cate.push(res[j].bmi);
								}
							} else if ( i == 1 ){
								if ( res[j].gender == 1 && res[j].cardio == 1 ) {
									cate.push(res[j].bmi);
								}
							}
						}else if ( seriesIndex == 1 ){
							if ( i == 0 ){
								if ( res[j].gender == 2 && res[j].cardio == 0 ) {
									cate.push(res[j].bmi);
								}
							} else if ( i == 1 ){
								if ( res[j].gender == 2 && res[j].cardio == 1 ) {
									cate.push(res[j].bmi);
								}
							}
						}
					}
					seriesData.push(cate);
				}
				data.push(echarts.dataTool.prepareBoxplotData(seriesData));
			}


			option = {
				title: {
					text: 'Multiple Categories',
					left: 'center',
				},
				legend: {
					top: '10%',
					data: ['cardio=0', 'cardio=1']
				},
				tooltip: {
					trigger: 'item',
					axisPointer: {
						type: 'shadow'
					}
				},
				grid: {
					left: '10%',
					top: '20%',
					right: '10%',
					bottom: '15%'
				},
				xAxis: {
					type: 'category',
					data: ['男' , '女'],
					boundaryGap: true,
					nameGap: 30,
					splitArea: {
						show: true
					},
					axisLabel: {
						formatter: '{value}'
					},
					splitLine: {
						show: false
					}
				},
				yAxis: {
					type: 'value',
					name: 'BMI',
					min: 10,
					max: 50,
					splitArea: {
						show: false
					}
				},
				dataZoom: [
					{
						type: 'inside',
						start: 0,
						end: 20
					},
					{
						show: true,
						height: 20,
						type: 'slider',
						top: '90%',
						xAxisIndex: [0],
						start: 0,
						end: 20
					}
				],
				series: [
					{
						name: 'cardio=1',
						type: 'boxplot',
						data: data[0].boxData,
						tooltip: {formatter: formatter}
					},
					{
						name: 'cardio=0',
						type: 'boxplot',
						data: data[1].boxData,
						tooltip: {formatter: formatter}
					},
				]
			};

			myChart.setOption(option, true);
		})
	});

	function formatter(param) {
		return [
			'Experiment ' + param.name + ': ',
			'upper: ' + param.data[0],
			'Q1: ' + param.data[1],
			'median: ' + param.data[2],
			'Q3: ' + param.data[3],
			'lower: ' + param.data[4]
		].join('<br/>');
	}
</script>

<!--血糖-->
<script type="text/javascript">
	$(document).ready(function(){
		$.post("/gluc", function(data, status) {
			var dom = document.getElementById("container_1");
			var myChart = echarts.init(dom);
			var app = {};
			option = null;
			app.title = '坐标轴刻度与标签对齐';

			option = {
				legend: {},
				tooltip: {},
				dataset: {
					dimensions: ['product', '患病', '未患病',],
					source: [
						{product: data[0].type, '患病': data[0].cardionum, '未患病': data[0].normalnum},
						{product: data[1].type, '患病': data[1].cardionum, '未患病': data[1].normalnum},
						{product: data[2].type, '患病': data[2].cardionum, '未患病': data[2].normalnum},
					]
				},
				xAxis: {type: 'category'},
				yAxis: {},
				// Declare several bar series, each will be mapped
				// to a column of dataset.source by default.
				series: [
					{type: 'bar'},
					{type: 'bar'},
				]
			};

			if (option && typeof option === "object") {
				myChart.setOption(option, true);
			}

		})
	});
</script>

<!--胆固醇-->
<script type="text/javascript">
	$(document).ready(function(){
		$.post("/cholesterol", function(data, status) {
			var dom = document.getElementById("container_2");
			var myChart = echarts.init(dom);
			var app = {};
			option = null;
			app.title = '坐标轴刻度与标签对齐';

			option = {
				legend: {},
				tooltip: {},
				dataset: {
					dimensions: ['product', '患病', '未患病',],
					source: [
						{product: data[0].type, '患病': data[0].cardionum, '未患病': data[0].normalnum},
						{product: data[1].type, '患病': data[1].cardionum, '未患病': data[1].normalnum},
						{product: data[2].type, '患病': data[2].cardionum, '未患病': data[2].normalnum},
					]
				},
				xAxis: {type: 'category'},
				yAxis: {},
				// Declare several bar series, each will be mapped
				// to a column of dataset.source by default.
				series: [
					{type: 'bar'},
					{type: 'bar'},
				]
			};

			if (option && typeof option === "object") {
				myChart.setOption(option, true);
			}

		})
	});
</script>

<!--血压-->
<script type="text/javascript">
	$(document).ready(function(){
		$.post("/ap", function(data, status) {
			var dom = document.getElementById("container_3");
			var myChart = echarts.init(dom);
			var app = {};
			option = null;
			app.title = '坐标轴刻度与标签对齐';

			option = {
				legend: {},
				tooltip: {},
				dataset: {
					dimensions: ['product', '患病', '未患病',],
					source: [
						{product: data[0].type, '患病': data[0].cardionum, '未患病': data[0].normalnum},
						{product: data[1].type, '患病': data[1].cardionum, '未患病': data[1].normalnum},
						{product: data[2].type, '患病': data[2].cardionum, '未患病': data[2].normalnum},
					]
				},
				xAxis: {type: 'category'},
				yAxis: {},
				// Declare several bar series, each will be mapped
				// to a column of dataset.source by default.
				series: [
					{type: 'bar'},
					{type: 'bar'},
				]
			};

			if (option && typeof option === "object") {
				myChart.setOption(option, true);
			}

		})
	});
</script>

<!--特征重要性-->
<script type="text/javascript">
		$(document).ready(function(){
			$.get("/importance",function (data,staus) {
				var dom = document.getElementById("div1");
				var myChart = echarts.init(dom);
				option = null;

				option = {
					xAxis: {
						type: 'category',
						data: [data[0].name, data[1].name, data[2].name, data[3].name, data[4].name, data[5].name, data[6].name, data[7].name, data[8].name, data[9].name]
					},
					yAxis: {
						type: 'value'
					},
					series: [{
						data: [data[0].importance, data[1].importance, data[2].importance, data[3].importance, data[4].importance, data[5].importance, data[6].importance, data[7].importance, data[8].importance, data[9].importance],
						type: 'line'
					}]
				};
				myChart.setOption(option, true);
			})
		})
</script>
</body>
</html>

